body {
  background-color: pink;
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 3px dotted coral;
  background-color: whitesmoke;
  padding: 3%;
  margin: 10%;
}

h1{font-size: 35px;}
h2{font-size: 30px;}
